{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "loose": false,
    "externalHelpers": false,
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"],
      "@hl8/nestjs-fastify": ["node_modules/@hl8/nestjs-fastify"],
      "@hl8/caching": ["node_modules/@hl8/caching"],
      "@hl8/exceptions": ["node_modules/@hl8/exceptions"],
      "@hl8/database": ["node_modules/@hl8/database"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": false,
  "sourceMaps": true,
  "inlineSourcesContent": false
}
